mac/SkyCheckers.xcodeproj/xcuserdata
mac/SkyCheckers.xcodeproj/project.xcworkspace/xcuserdata
.DS_Store
skycheckers
win/Debug
win/Release
win/x64/Debug
win/x64/Release
win/dinput.pdb
*.sdf
*.suo
*.vcxproj.user
*.aps
*.opensdf
Data/Shaders/*.cso

