mac/SkyCheckers.xcodeproj/xcuserdata
mac/SkyCheckers.xcodeproj/project.xcworkspace/xcuserdata
.DS_Store
linux/skycheckers
linux/Data
linux/scdev
win/Debug
win/Release
win/x64/Debug
win/x64/Release
win/dinput.pdb
win/.vs
*.sdf
*.suo
*.vcxproj.user
*.aps
*.opensdf
Data/Shaders
Data/gamecontrollerdb.txt

